
/* working with how to make tables in css */
/* .divTable{
	display: table;
	width: 100%;
} */
.criminalsContainer {

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.criminals.data{
    background: white;
    flex-basis: 24%;
    margin: 5px;
    border: 2px solid rgb(22, 22, 58);
    box-shadow: 3px 10px 10px 0 rgba(0,0,0,0.2);

}
.noteFormContainer{
    display: inline-grid
}
.noteListContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: center
}

.body {
    display: inline-grid
}
.aside {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 38%;
    margin: 0 3% 3% 3%;
}
.header{
    margin-top: 22px;
}
/* .criminals.data {
    display: inline-block;
    border: black 2px;
    color: black;   
    text-size-adjust: 20px;
     
    
} */
